<section class="site-info">
    <h2>Welcome to Smart Shuffle</h2>
    <p>
        This is a sample Ember app. You can log in to access exclusive features. Use the menu to get started.
    </p>
</section>